BEGIN TRY

BEGIN TRAN;

-- CreateTable
CREATE TABLE [dbo].[User] (
    [id] INT NOT NULL IDENTITY(1,1),
    [email] NVARCHAR(1000) NOT NULL,
    [password] NVARCHAR(1000) NOT NULL,
    [fullName] NVARCHAR(1000),
    [role] NVARCHAR(1000) NOT NULL CONSTRAINT [User_role_df] DEFAULT 'PLAYER',
    [created_at] DATETIME2 NOT NULL CONSTRAINT [User_created_at_df] DEFAULT CURRENT_TIMESTAMP,
    [updated_at] DATETIME2 NOT NULL,
    CONSTRAINT [User_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [User_email_key] UNIQUE NONCLUSTERED ([email])
);

-- CreateTable
CREATE TABLE [dbo].[PlayerProfile] (
    [id] INT NOT NULL IDENTITY(1,1),
    [userId] INT NOT NULL,
    [position] NVARCHAR(1000) NOT NULL,
    [nationality] NVARCHAR(1000),
    [dateOfBirth] DATETIME2,
    [height] FLOAT(53),
    [weight] FLOAT(53),
    [preferredFoot] NVARCHAR(1000),
    [currentClubId] INT,
    [marketValue] FLOAT(53) NOT NULL CONSTRAINT [PlayerProfile_marketValue_df] DEFAULT 0,
    [goalsScored] INT NOT NULL CONSTRAINT [PlayerProfile_goalsScored_df] DEFAULT 0,
    [assists] INT NOT NULL CONSTRAINT [PlayerProfile_assists_df] DEFAULT 0,
    [appearances] INT NOT NULL CONSTRAINT [PlayerProfile_appearances_df] DEFAULT 0,
    [rating] FLOAT(53) NOT NULL CONSTRAINT [PlayerProfile_rating_df] DEFAULT 0,
    [bio] NVARCHAR(1000),
    CONSTRAINT [PlayerProfile_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [PlayerProfile_userId_key] UNIQUE NONCLUSTERED ([userId])
);

-- CreateTable
CREATE TABLE [dbo].[AgentProfile] (
    [id] INT NOT NULL IDENTITY(1,1),
    [userId] INT NOT NULL,
    [agency] NVARCHAR(1000),
    [licenseNumber] NVARCHAR(1000),
    [yearsExperience] INT NOT NULL CONSTRAINT [AgentProfile_yearsExperience_df] DEFAULT 0,
    CONSTRAINT [AgentProfile_pkey] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [AgentProfile_userId_key] UNIQUE NONCLUSTERED ([userId])
);

-- CreateTable
CREATE TABLE [dbo].[League] (
    [league_id] INT NOT NULL IDENTITY(1,1),
    [name] NVARCHAR(1000) NOT NULL,
    [country] NVARCHAR(1000) NOT NULL,
    CONSTRAINT [League_pkey] PRIMARY KEY CLUSTERED ([league_id])
);

-- CreateTable
CREATE TABLE [dbo].[Club] (
    [club_id] INT NOT NULL IDENTITY(1,1),
    [league_id] INT NOT NULL,
    [name] NVARCHAR(1000) NOT NULL,
    [country] NVARCHAR(1000) NOT NULL,
    [founded_year] INT,
    CONSTRAINT [Club_pkey] PRIMARY KEY CLUSTERED ([club_id])
);

-- CreateTable
CREATE TABLE [dbo].[Player] (
    [player_id] INT NOT NULL IDENTITY(1,1),
    [first_name] NVARCHAR(1000) NOT NULL,
    [last_name] NVARCHAR(1000) NOT NULL,
    [date_of_birth] DATETIME2 NOT NULL,
    [position] NVARCHAR(1000),
    [nationality] NVARCHAR(1000),
    [current_club_id] INT,
    [fee] DECIMAL(32,16),
    CONSTRAINT [Player_pkey] PRIMARY KEY CLUSTERED ([player_id])
);

-- CreateTable
CREATE TABLE [dbo].[Transfer] (
    [transfer_id] INT NOT NULL IDENTITY(1,1),
    [player_id] INT NOT NULL,
    [from_club_id] INT NOT NULL,
    [to_club_id] INT NOT NULL,
    [transfer_fee] DECIMAL(32,16),
    [transfer_date] DATETIME2 NOT NULL,
    [transfer_type] NVARCHAR(1000) NOT NULL,
    CONSTRAINT [Transfer_pkey] PRIMARY KEY CLUSTERED ([transfer_id])
);

-- CreateTable
CREATE TABLE [dbo].[TransferHistory] (
    [transfer_id] INT NOT NULL,
    [player_id] INT NOT NULL,
    [fee] DECIMAL(32,16),
    CONSTRAINT [TransferHistory_pkey] PRIMARY KEY CLUSTERED ([transfer_id],[player_id])
);

-- CreateTable
CREATE TABLE [dbo].[Contract] (
    [contract_id] INT NOT NULL IDENTITY(1,1),
    [player_id] INT NOT NULL,
    [club_id] INT NOT NULL,
    [start_date] DATETIME2 NOT NULL,
    [end_date] DATETIME2 NOT NULL,
    [salary] DECIMAL(32,16),
    CONSTRAINT [Contract_pkey] PRIMARY KEY CLUSTERED ([contract_id])
);

-- CreateTable
CREATE TABLE [dbo].[Agent] (
    [agent_id] INT NOT NULL IDENTITY(1,1),
    [agent_name] NVARCHAR(1000) NOT NULL,
    CONSTRAINT [Agent_pkey] PRIMARY KEY CLUSTERED ([agent_id])
);

-- CreateTable
CREATE TABLE [dbo].[PlayerAgent] (
    [player_id] INT NOT NULL,
    [agent_id] INT NOT NULL,
    CONSTRAINT [PlayerAgent_pkey] PRIMARY KEY CLUSTERED ([player_id],[agent_id])
);

-- CreateIndex
CREATE NONCLUSTERED INDEX [User_email_idx] ON [dbo].[User]([email]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [User_role_idx] ON [dbo].[User]([role]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [League_country_idx] ON [dbo].[League]([country]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Club_league_id_idx] ON [dbo].[Club]([league_id]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Club_country_idx] ON [dbo].[Club]([country]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Player_current_club_id_idx] ON [dbo].[Player]([current_club_id]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Player_nationality_idx] ON [dbo].[Player]([nationality]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Transfer_player_id_idx] ON [dbo].[Transfer]([player_id]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Transfer_from_club_id_idx] ON [dbo].[Transfer]([from_club_id]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Transfer_to_club_id_idx] ON [dbo].[Transfer]([to_club_id]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Transfer_transfer_date_idx] ON [dbo].[Transfer]([transfer_date]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [TransferHistory_player_id_idx] ON [dbo].[TransferHistory]([player_id]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Contract_player_id_idx] ON [dbo].[Contract]([player_id]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Contract_club_id_idx] ON [dbo].[Contract]([club_id]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Contract_start_date_end_date_idx] ON [dbo].[Contract]([start_date], [end_date]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [Agent_agent_name_idx] ON [dbo].[Agent]([agent_name]);

-- CreateIndex
CREATE NONCLUSTERED INDEX [PlayerAgent_agent_id_idx] ON [dbo].[PlayerAgent]([agent_id]);

-- AddForeignKey
ALTER TABLE [dbo].[PlayerProfile] ADD CONSTRAINT [PlayerProfile_userId_fkey] FOREIGN KEY ([userId]) REFERENCES [dbo].[User]([id]) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE [dbo].[PlayerProfile] ADD CONSTRAINT [PlayerProfile_currentClubId_fkey] FOREIGN KEY ([currentClubId]) REFERENCES [dbo].[Club]([club_id]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[AgentProfile] ADD CONSTRAINT [AgentProfile_userId_fkey] FOREIGN KEY ([userId]) REFERENCES [dbo].[User]([id]) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE [dbo].[Club] ADD CONSTRAINT [Club_league_id_fkey] FOREIGN KEY ([league_id]) REFERENCES [dbo].[League]([league_id]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Player] ADD CONSTRAINT [Player_current_club_id_fkey] FOREIGN KEY ([current_club_id]) REFERENCES [dbo].[Club]([club_id]) ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Transfer] ADD CONSTRAINT [Transfer_player_id_fkey] FOREIGN KEY ([player_id]) REFERENCES [dbo].[Player]([player_id]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Transfer] ADD CONSTRAINT [Transfer_from_club_id_fkey] FOREIGN KEY ([from_club_id]) REFERENCES [dbo].[Club]([club_id]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Transfer] ADD CONSTRAINT [Transfer_to_club_id_fkey] FOREIGN KEY ([to_club_id]) REFERENCES [dbo].[Club]([club_id]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[TransferHistory] ADD CONSTRAINT [TransferHistory_transfer_id_fkey] FOREIGN KEY ([transfer_id]) REFERENCES [dbo].[Transfer]([transfer_id]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[TransferHistory] ADD CONSTRAINT [TransferHistory_player_id_fkey] FOREIGN KEY ([player_id]) REFERENCES [dbo].[Player]([player_id]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Contract] ADD CONSTRAINT [Contract_player_id_fkey] FOREIGN KEY ([player_id]) REFERENCES [dbo].[Player]([player_id]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[Contract] ADD CONSTRAINT [Contract_club_id_fkey] FOREIGN KEY ([club_id]) REFERENCES [dbo].[Club]([club_id]) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE [dbo].[PlayerAgent] ADD CONSTRAINT [PlayerAgent_player_id_fkey] FOREIGN KEY ([player_id]) REFERENCES [dbo].[Player]([player_id]) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE [dbo].[PlayerAgent] ADD CONSTRAINT [PlayerAgent_agent_id_fkey] FOREIGN KEY ([agent_id]) REFERENCES [dbo].[Agent]([agent_id]) ON DELETE CASCADE ON UPDATE CASCADE;

COMMIT TRAN;

END TRY
BEGIN CATCH

IF @@TRANCOUNT > 0
BEGIN
    ROLLBACK TRAN;
END;
THROW

END CATCH

